<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact the Ruby on Rails Tutorial about the sample app at the
  <a href="https://railstutorial.jp/contact">contact page</a>.
</p>
<%= link_to image_tag("kitten.jpg",alt: "kitten cat", width: "200px"),root_path %>